VITE_SUPABASE_URL=https://nlxulpninwzwlxnzidup.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5seHVscG5pbnd6d2x4bnppZHVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNDcwNTcsImV4cCI6MjA5NzgyMzA1N30.aB2dJgz-cZJNWFwUOBsMBOU_ePxUiqjKS1QQD23gsQI
