VITE_SUPABASE_URL=https://nlxulpninwzwlxnzidup.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5seHVscG5pbnd6d2x4bnppZHVwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjI0NzA1NywiZXhwIjoyMDk3ODIzMDU3fQ.HKqL7LN2_hDrky0EoaMx58okZedvqlT700GnOUZc4-I
